<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>applet</string>
	<key>CFBundleIdentifier</key>
	<string>au.com.myriad-com.lib.Dialog-Toolkit-Plus</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014-19 Myriad Communications, All Rights Reserved</string>
	<key>OSAAppleScriptObjCEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>ScriptingDictionary</string>
	<key>TemplateForCFBundleIdentifier</key>
	<string>au.com.myriad-com.lib.Dialog-Toolkit2</string>
	<key>WindowState</key>
	<dict>
		<key>bundleDividerCollapsed</key>
		<false/>
		<key>bundlePositionOfDivider</key>
		<real>697</real>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>-1</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>584</real>
		<key>savedFrame</key>
		<string>81 125 996 860 0 0 1680 1027 </string>
		<key>selectedTab</key>
		<string>log</string>
	</dict>
</dict>
</plist>
